<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>homepage</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium dignissimos, temporibus amet eos libero magnam soluta, est cum optio molestias aperiam nesciunt ducimus? Repellat aut itaque totam. Consectetur, nesciunt optio.</p>
    
    <a href="/dashboard/">Dashboard</a>
    <a href="/auth/login/">login</a>
    <a href="/auth/register/">Register</a>

</body>
</html>