<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registros</title>
  <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-gray-900 text-white">
  {% for register in registers %}
  <div>
    <h1>{{register.topic}}</h1>
    <p>{{ register.hours }}</p>
  </div>
  {% endfor %}

  <a href="{% url 'registers_create' %}" class="bg-blue-500 text-white px-4 py-1 rounded inline-block" >adicionar</a>
  
</body>
</html>